# for M1 users install tensorflow-macos, tensorflow-metal and tensorflow_datasets instead of tensorflow

opencv-python
numpy
streamlit==1.10.0
matplotlib==3.4.3
tensorflow
# tensorflow-metal==0.5.0
# tensorflow_datasets==4.6.0
# tensorflow-macos==2.9.2
streamlit-drawable-canvas==0.9.1